/* Footer design */
.footer {
  background-color: #333333;
  height: 100px;
  padding: 40px;

}
.footer a {
  color: white;
  font-size: 25px;
  padding-right: 5px;
}

.footer-text-right {
  color: white;
}
.footer a:hover {
  color: #3071A9;
  transition: all 300ms ease-in-out;
}

.footer .fa:hover {
  transform: scale(1.50);
}

.footer-text-right:hover {
  color: #3071A9;
  transition: all 300ms ease-in-out;
}
