<!-- _footer.erb -->
   <div class="footer">
    <ul class="list-inline pull-left padded-footer">
      <li>
        <% link_to "https://www.facebook.com", target: '_blank' do %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        <% end %>
      </li>
      <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    </ul>
    <div class="footer-text-right pull-right">
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
  </div>
